<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a target="_blank" href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Begin Intro Section -->
<section id="intro">
  <div id="parallax-1" class="parallax">
    <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-1"
         data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;"
         data-bottom-top="background-position: 50% 100px;">
      <div class="intro-body text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 intro-content">
              <div class="logo">
                <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_150/v1448489484/crescent_green_oq4e9g.png"/>
              </div>
              <!-- //.logo -->

              <div class="intro-text text-center">
                <h2>Recruit Top Millennial Talent</h2>

                <p class="lead">The Network of 16,000+ University Students</p>

              </div>
              <div class="intro-text text-center">
                <a class="button button-secondary open-influencer-signup-modal">Sign Up As An Employer</a>
              </div>
              <!-- //.intro-content -->
            </div>
            <!-- //.row -->
          </div>
          <!-- //.container -->
        </div>
        <!-- //.intro-body -->
      </div>
      <!-- //.bcg -->
    </div>
  </div>
  <!-- //.parallax -->
</section>
<!-- //End Intro Section -->

<!-- Begin Who We Are Section -->
<section id="who-we-are" class="section">
  <div class="section-inner">
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2 class="main-title">Who Are We?</h2>
            <h3 class="sub-title">Some Things You Should Know</h3>
            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->

      <div class="row">
        <div class="col-md-6">
          <div id="carousel-who-we-are" class="owl-carousel owl-theme">
            <div class="item">
              <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448532242/5684944311_b144fe29a3_o_y2xxzr.jpg"
                   alt="" class="img-responsive img-rounded"/>
            </div>
            <!-- //.item -->

            <div class="item">
              <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448532246/8812567121_25d8d9ae53_o_x6ztap.jpg"
                   alt="" class="img-responsive img-rounded"/>
            </div>
            <!-- //.item -->

            <div class="item">
              <img src="http://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448533150/5416627232_fd1a98369a_o_c26qtz.jpg"
                   alt="" class="img-responsive img-rounded"/>
            </div>
            <!-- //.item -->
          </div>
          <!-- //.owl-carousel -->
        </div>
        <!-- //.col-md-6 -->

        <div class="col-md-6">
          <div class="who-we-are-text">
            <h4>INTRODUCTION</h4>


            <p>Our goal is to help students build detailed, engaging, online resumes — whether they are experienced postgraduate students or freshmen navigating their first semester.  Students on Meed create a profile that includes their past experience, education and courses, a portfolio of projects they’ve completed, and thoughts on their favorite career-related topics. Once they have completed their profile, students enter a community of alumni, recruiters, industry leaders, and their peers who are dedicated to launching their careers.</p>

          </div>
          <!-- //.who-we-are-text -->
        </div>
        <!-- //.col-md-6 -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>
<!-- //End Who We Are Section -->

<!-- Begin Fun Fact Section -->
<section id="fun-fact" class="section section-parallax-yes">
  <div class="section-inner">
    <div class="section-overlay"></div>
    <div id="parallax-2" class="parallax">
      <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-2"
           data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;"
           data-bottom-top="background-position: 50% 100px;">
        <div class="container section-content">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title text-center">
                <h2 class="main-title">HOW STRONG  IS OUR NETWORK?
                </h2>

                <h3 class="sub-title">FUN FACTS ABOUT US</h3>

                <span class="section-line"></span>
              </div>
              <!-- //.section-title -->
            </div>
            <!-- //.col-md-12 -->
          </div>
          <!-- //.row -->

          <div class="row">
            <!-- //.col-xs-6 col-sm-6 col-md-3 -->


            <div class="col-xs-6 col-sm-6 col-md-3 text-center">
              <div class="counter-item not-right-column">
                <i class="fa fa-graduation-cap"></i>

                <div class="inner-content">
                                        <span class="number" data-from="100" data-to="250"
                                              data-refresh-interval="10">
                                            250
                                        </span>
                </div>
                <!-- //.inner-content -->

                <p>Universities</p>
              </div>
              <!-- //.counter-item -->
            </div>
            <!-- //.col-xs-6 col-sm-6 col-md-3 -->

            <div class="col-xs-6 col-sm-6 col-md-3 text-center">
              <div class="counter-item">
                <i class="fa fa-user"></i>

                <div class="inner-content">
                  <span class="number" data-from="10000" data-to="55000" data-refresh-interval="10">
                      55000
                  </span>
                </div>
                <!-- //.inner-content -->

                <p>Profiles</p>
              </div>
              <!-- //.counter-item -->
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 text-center">
              <div class="counter-item not-right-column top-column">
                <i class="fa fa-suitcase"></i>

                <div class="inner-content">
                    <span class="number" data-from="1000" data-to="15000" data-refresh-interval="10">
                        15000
                    </span>
                </div>
                <!-- //.inner-content -->

                <p>Applications</p>
              </div>
              <!-- //.counter-item -->
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 text-center">
              <div class="counter-item not-right-column top-column">
                <i class="fa fa-building"></i>

                <div class="inner-content">
                                        <span class="number" data-from="100" data-to="450" data-refresh-interval="10">
                                            450
                                        </span>
                </div>
                <!-- //.inner-content -->

                <p>Companies</p>
              </div>
              <!-- //.counter-item -->
            </div>
            <!-- //.col-xs-6 col-sm-6 col-md-3 -->
          </div>
          <!-- //.row -->
        </div>
        <!-- //.section-content -->
      </div>
      <!-- //.bcg -->
    </div>
    <!-- //.parallax -->
  </div>
  <!-- //.section-inner -->
</section>
<!-- //End Fun Fact Section -->

<!-- Begin Why Us Section -->
<section id="why-us" class="section">
  <div class="section-inner">
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2 class="main-title">Why Choose Us?</h2>
            <h3 class="sub-title">6 REASONS MEED IS THE BEST</h3>
            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->

      <!-- Begin Content Boxes -->

      <div class="col-sm-4 col-md-4">
        <div class="content-boxes style-two top-column clearfix">
            <span class="content-boxes-icon">
                <i class="fa fa-star"></i>
            </span>
          <div class="content-boxes-text">
            <h4>Rich Profiles</h4>
            <p>Student profiles on Meed have more information than other platforms and resumes. These rich and always up-to-date profile allow you to gain a more comprehensive understanding of your job applicants.</p>
          </div>
          <!-- //.content-boxes-text -->
        </div>
        <!-- //.content-boxes -->
      </div>
      <!-- //.col-sm-4 col-md-4 -->

      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="content-boxes style-two top-column clearfix">
            <span class="content-boxes-icon">
                <i class="fa fa-thumbs-up"></i>
            </span>
            <div class="content-boxes-text">
              <h4>Quality</h4>
              <p>Your job postings on Meed can be targeted, eliminating the process of scouting through applications that don't match the qualifications. The rich and structured profile information enables you to further refine your applicants by many different criteria.</p>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->


        <div class="col-sm-4 col-md-4">
          <div class="content-boxes style-two top-column clearfix">
            <span class="content-boxes-icon">
                <i class="fa fa-users"></i>
            </span>
            <div class="content-boxes-text">
              <h4>Diversity</h4>
              <p>Students on Meed come from different universities and locations. Regardless of where you or your positions are located, you have access to a diverse set of candidates.</p>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->
      </div>
      <!-- //.row -->

      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="content-boxes style-two bottom-column not-right-column clearfix">
            <span class="content-boxes-icon">
                <i class="fa fa-shield"></i>
            </span>
            <div class="content-boxes-text">
              <h4>Branding</h4>
              <p>Meed gives companies the unique opportunity to establish their brand among students. Your presence helps them learn more about your company while helping you grow your company’s audience.</p>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->

        <div class="col-sm-4 col-md-4">
          <div class="content-boxes style-two bottom-column not-right-column clearfix">
            <span class="content-boxes-icon">
                <i class="fa fa-send"></i>
            </span>
            <div class="content-boxes-text">
              <h4>Engage</h4>
              <p>Hiring students is only one facet of Meed.  As a part of our network, you can connect with, follow, and engage with top student talent.</p>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->

        <div class="col-sm-4 col-md-4">
          <div class="content-boxes style-two bottom-column clearfix">
            <span class="content-boxes-icon">
                <i class="fa fa-support"></i>
            </span>
            <div class="content-boxes-text">
              <h4>Cost</h4>
              <p>Hiring on Meed costs a fraction of what other traditional college recruiters charge. Designed to scale your hiring needs while keeping the cost love, we have saved over 15% of recruiting budgets for our clients.</p>
            </div>
            <!-- //.content-boxes-text -->
          </div>
          <!-- //.content-boxes -->
        </div>
        <!-- //.col-sm-4 col-md-4 -->
      </div>
      <!-- //End Content Boxes -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>
<!-- //End Why Us Section -->

<!-- Begin Testimonials Section -->
<section id="testimonials" class="section section-parallax-yes">
  <div class="section-inner">
    <div class="section-overlay"></div>

    <div id="parallax-6" class="parallax">
      <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-6" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;">
        <div class="container section-content">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title text-center">
                <h2 class="main-title">Testimonials</h2>

                <h3 class="sub-title">We Make Our Customers Happy</h3>

                <span class="section-line"></span>
              </div>
              <!-- //.section-title -->
            </div>
            <!-- //.col-md-12 -->
          </div>
          <!-- //.row -->

          <div id="carousel-testimonials" class="owl-carousel owl-theme">
            <div class="item">
              <div class="row">
                <div class="col-md-4">
                  <div class="testimonial-item not-right-column not-bottom-column">
                    <div class="testimonial-content">
                      <blockquote>
                        <p>Meed is an easy-to-use recruitment tool with reach to a lot of great college candidates. I definitely recommend this product to others!</p>
                      </blockquote>
                    </div>
                    <!-- //.testimonial-content -->

                    <div class="testimonial-info clearfix">
                      <img width="100" src="https://res.cloudinary.com/resume/image/upload/c_scale,w_150/v1454616163/AAEAAQAAAAAAAAM4AAAAJGRjZGNkOTc1LTk4YzgtNGEyZC05N2IxLTRjZDEwYWIzYzQwMw_mr5bi1.jpg" alt="" class="img-circle img-thumbnail"/>

                      <p class="testimonial-author">
                        <a href="https://res.cloudinary.com/resume/image/upload/c_scale,w_150/v1454616163/AAEAAQAAAAAAAAM4AAAAJGRjZGNkOTc1LTk4YzgtNGEyZC05N2IxLTRjZDEwYWIzYzQwMw_mr5bi1.jpg" target="_blank">Heidi Newiger</a>
                        <br>
                        <em><a href="https://getmeed.com/company/appdynamics" target="_blank">Appdynamics</a></em>
                      </p>
                    </div>
                    <!-- //.testimonial-info -->
                  </div>
                  <!-- //.testimonial-item -->
                </div>
                <!-- //.col-md-4 -->

                <div class="col-md-4">
                  <div class="testimonial-item not-right-column not-bottom-column">
                    <div class="testimonial-content">
                      <blockquote>
                        <p>Meed is a great resource to reach college students. It has helped in company branding and in obtaining qualified candidates for full time and intern roles.</p>
                      </blockquote>
                    </div>
                    <!-- //.testimonial-content -->

                    <div class="testimonial-info clearfix">
                      <img width="100" src="https://res.cloudinary.com/resume/image/upload/v1454962671/AAEAAQAAAAAAAANIAAAAJGNkZjJlZDU1LTRjMWEtNGQ3ZC04NmZiLWIwZDViMGYyYmVkZg_glpq6c.jpg" alt="" class="img-circle img-thumbnail"/>

                      <p class="testimonial-author">
                        <a href="https://getmeed.com/dhurtado" target="_blank">Daisy Hurtado</a>
                        <br>
                        <em><a href="https://getmeed.com/company/nutanix" target="_blank">Nutanix</a></em>
                      </p>
                    </div>
                    <!-- //.testimonial-info -->
                  </div>
                  <!-- //.testimonial-item -->
                </div>
                <!-- //.col-md-4 -->

                <div class="col-md-4">
                  <div class="testimonial-item not-bottom-column">
                    <div class="testimonial-content">
                      <blockquote>
                        <p>@viswamani Using Meed 4 interns this summer at my new app @FlyOnWallApp. U make the process much easier and safe! TX.</p>
                      </blockquote>
                    </div>
                    <!-- //.testimonial-content -->

                    <div class="testimonial-info clearfix">
                      <img width="100" src="https://res.cloudinary.com/resume/image/upload/v1454963837/1ee0ec7_itrhgm.jpg" alt="" class="img-circle img-thumbnail"/>

                      <p class="testimonial-author">
                        <a href="https://twitter.com/MaxBluvd/status/616564984575733760" target="_blank">Max Bluvband, @MaxBluvd</a>
                        <br>
                        <em><a href="#" target="_blank">Fly on Wall</a></em>
                      </p>
                    </div>
                    <!-- //.testimonial-info -->
                  </div>
                  <!-- //.testimonial-item -->
                </div>
                <!-- //.col-md-4 -->
              </div>
              <!-- //.row -->
            </div>
            <!-- //.item -->

            <div class="item">
              <div class="row">
                <div class="col-md-4">
                  <div class="testimonial-item not-right-column not-bottom-column">
                    <div class="testimonial-content">
                      <blockquote>
                        <p>As the founder of a cash-poor startup, I need more help than I can afford. Talented students need experience to help jump-start their careers. Meed provides a way for both parties to find each other and benefit. I just create a job posting, then sit back and watch the applications roll in. I love mentoring students, and they love the authority and responsibility I give them. Thanks, Meed!</p>
                      </blockquote>
                    </div>
                    <!-- //.testimonial-content -->

                    <div class="testimonial-info clearfix">
                      <img width="100" src="https://res.cloudinary.com/resume/image/upload/c_scale,w_150/v1454619124/AAEAAQAAAAAAAAIbAAAAJGExZjBlODU1LWM2YmMtNGE1MS04ZmEyLTlkODIxNzFkMjEwNg_ldft5l.jpg" alt="" class="img-circle img-thumbnail"/>

                      <p class="testimonial-author">
                        <a href="https://getmeed.com/msallin" target="_blank">Matt Sallin</a>
                        <br>
                        <em><a href="https://getmeed.com/company/getonthesystem" target="_blank">System Financial</a></em>
                      </p>
                    </div>
                    <!-- //.testimonial-info -->
                  </div>
                  <!-- //.testimonial-item -->
                </div>
                <!-- //.col-md-4 -->

              </div>
              <!-- //.row -->
            </div>
            <!-- //.item -->

          </div>
          <!-- //.owl-carousel -->
        </div>
        <!-- //.section-container -->
      </div>
      <!-- //.bcg -->
    </div>
    <!-- //.parallax -->
  </div>
  <!-- //.section-inner -->
</section>
<!-- //End Testimonials Section -->

<!-- Begin Our Pricing Section -->
<section id="our-pricing" class="section">
  <div class="section-inner">
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="main-title">HOW MUCH DOES IT COST?</h3>

            <h3 class="sub-title">OUR PRICING PLAN</h3>

            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->

      <!-- Begin Pricing Tables -->
      <div class="pricing-table style-six">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 pricing-wrapper text-center">
            <div class="pricing-column">
              <div class="plan-title">
                <h2>Basic</h2>

                <div class="pricing-box">
                  <span class="price">
                      <span class="symbol">$</span>200
                  </span>
                  <span class="month">/ Job</span>

                  <div class="price-info">
                    Job expires every quarter.
                  </div>
                  <!-- //.price-info -->
                </div>
                <!-- //.pricing-box -->
              </div>
              <!-- //.plan-title -->

              <ul class="item-list">
                <li>Company Profile</li>
                <li>Publishing Platform</li>
                <li>2 Recruiter Accounts</li>
                <li>Email Support</li>
                <li>Candidate  Recommendations</li>
                <li>$1 / Invite</li>
              </ul>

              <div class="plan-footer">
                <a class="btn btn-lg btn-rj" href="#">Get Started</a>
              </div>
              <!-- //.plan-footer -->
            </div>
            <!-- //.pricing-column -->
          </div>
          <!-- //.pricing-wrapper -->
        </div>
        <!-- //.row -->
      </div>
      <!-- //End Pricing Tables -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>
<!-- //End Our Pricing Section -->

<!-- Begin Keep In Touch Section -->
<section id="keep-in-touch" class="section section-parallax-yes">
  <div class="section-inner">
    <div class="section-overlay"></div>

    <div id="parallax-5" class="parallax">
      <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-5"
           data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;"
           data-bottom-top="background-position: 50% 100px;">
        <div class="container section-content">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title text-center">
                <h3 class="main-title">KEEP IN TOUCH WITH US</h3>

                <h4 class="sub-title">WE WOULD LOVE TO HEAR FROM YOU</h4>

                <span class="section-line"></span>
              </div>
              <!-- //.section-title -->
            </div>
            <!-- //.col-md-12 -->
          </div>
          <!-- //.row -->

          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-6">
              <div class="social-icon-item text-center not-right-column top-column">
                <a target="_blank" href="https://facebook.com/getonmeed">
                                        <span class="social-icon">
                                            <i class="fa fa-facebook"></i>
                                        </span>

                  <h4>Facebook</h4>
                </a>
              </div>
              <!-- //.social-icon-item -->
            </div>
            <!-- //.col-xs-6 col-sm-4 col-md-2 -->

            <div class="col-xs-6 col-sm-4 col-md-6">
              <div class="social-icon-item text-center not-right-column top-column">
                <a target="_blank" href="https://twitter.com/getonmeed">
                                        <span class="social-icon">
                                            <i class="fa fa-twitter"></i>
                                        </span>

                  <h4>Twitter</h4>
                </a>
              </div>
              <!-- //.social-icon-item -->
            </div>
            <!-- //.col-xs-6 col-sm-4 col-md-2 -->
            <!-- //.col-xs-6 col-sm-4 col-md-2 -->
          </div>
          <!-- //.row -->
        </div>
        <!-- //.section-content -->
      </div>
      <!-- //.bcg -->
    </div>
    <!-- //.parallax -->
  </div>
  <!-- //.section-inner -->
</section>
<!-- //End Keep In Touch Section -->

<!-- Begin Press Section -->
<section id="press" class="section">
  <div class="section-inner">
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2 class="main-title">Press</h2>

            <h3 class="sub-title">The world loves us!</h3>

            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->

      <div class="row">
        <div class="col-md-12">

          <!-- Begin Timeline -->
          <ul class="timeline">
            <li>
              <div class="timeline-badge">
                <i class="fa fa-dot-circle-o"></i>
              </div>
              <!-- //.timeline-badge -->

              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Stanford Daily</h4>

                  <img src="https://res.cloudinary.com/resume/image/upload/v1454957304/stanford_daily_awvbvo.jpg"
                       alt="" class="img-responsive">
                </div>
                <!-- //.timeline-heading -->

                <div class="timeline-body">
                  <p>
                    <a href="http://www.stanforddaily.com/2016/01/25/meed-career-service-enhances-stanford-network" target="_blank">
                      Meed career service enhances Stanford network
                    </a>
                  </p>
                </div>
                <!-- //.timeline-body -->
              </div>
              <!-- //.timeline-panel -->
            </li>

            <li class="timeline-inverted">
              <div class="timeline-badge">
                <i class="fa fa-dot-circle-o"></i>
              </div>
              <!-- //.timeline-badge -->

              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Recruiting Times</h4>

                  <img src="https://res.cloudinary.com/resume/image/upload/v1454957649/recruting_times_yp8zkg.jpg"
                       alt="" class="img-responsive">
                </div>
                <!-- //.timeline-heading -->

                <div class="timeline-body">
                  <p>
                    <a href="http://recruitingtimes.org/recruitment-and-hr-technology-news/8672/meed-announces-countrywide-launch-creates-unique-career-platform-connecting-students-right-job/" target="_blank">
                      Meed announces countrywide launch, creates a unique career platform for connecting students with the right job
                    </a>
                  </p>
                </div>
                <!-- //.timeline-body -->
              </div>
              <!-- //.timeline-panel -->
            </li>
          </ul>
          <!-- //End Timeline -->
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>
<!-- //End Press Section -->

<!-- Begin Meed The Team Section -->
<section id="meet-the-team" class="section">
  <div class="section-inner">
    <div class="container section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3 class="main-title">Meet The Team</h3>

            <h4 class="sub-title">We Are Here For You</h4>

            <span class="section-line"></span>
          </div>
          <!-- //.section-title -->
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->

      <div class="row">
        <div class="col-sm-6 col-md-3 team-item">
          <div class="img-rounded team-element">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Ravi Vadrevu</h4>

                  <p>CEO / Co-Founder</p>
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->
            <a target="_blank" href="https://getmeed.com/ravi">
              <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448535703/Screen_Shot_2015-11-26_at_3.00.57_AM_xveqzv.png"
                   alt="" class="img-responsive img-rounded"/>
            </a>
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->
        <div class="col-sm-6 col-md-3 team-item not-right-column top-column">
          <div class="img-rounded team-element">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Viswa Mani Kiran Peddinti</h4>

                  <p>CTO / Co-Founder</p>
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->
            <a target="_blank" href="https://getmeed.com/peddinti">

              <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448535827/Screen_Shot_2015-11-26_at_3.03.30_AM_ymqnle.png"
                   alt="" class="img-responsive img-rounded"/>
            </a>
          </div>
          <!-- //.team-element -->
        </div>
        <div class="col-sm-6 col-md-3 team-item not-right-column">
          <div class="img-rounded team-element">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">

                  <h4>Jack Sloman</h4>

                  <p>Director of Marketing</p>
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->
            <a target="_blank" href="https://getmeed.com/jsloman">

              <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448535936/Screen_Shot_2015-11-26_at_3.05.17_AM_zryk5j.png"
                   alt="" class="img-responsive img-rounded"/>
            </a>
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->

        <div class="col-sm-6 col-md-3 team-item">
          <div class="img-rounded team-element">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Gregory Wisenberg</h4>

                  <p>Director of Growth</p>
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->
            <a target="_blank" href="https://getmeed.com/greg">

              <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448536113/Screen_Shot_2015-11-26_at_3.08.10_AM_rnyzdj.png"
                   alt="" class="img-responsive img-rounded"/>
            </a>
          </div>
          <!-- //.team-element -->
        </div>

        <div class="col-sm-6 col-md-3 team-item">
          <div class="img-rounded team-element">
            <div class="team-inner">
              <div class="team-detail">
                <div class="team-content">
                  <h4>Terrell Orr</h4>

                  <p>Director of Content </p>
                </div>
                <!-- //.team-content -->
              </div>
              <!-- //.team-detail -->
            </div>
            <!-- //.team-inner -->
            <a target="_blank" href="https://getmeed.com/torr">

              <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448536185/Screen_Shot_2015-11-26_at_3.09.30_AM_rualqc.png"
                   alt="" class="img-responsive img-rounded"/>
            </a>
          </div>
          <!-- //.team-element -->
        </div>
        <!-- //.team-item -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.section-content -->
  </div>
  <!-- //.section-inner -->
</section>
<!-- //End Meet The Team Section -->


<!--&lt;!&ndash; Begin Testimonials Section &ndash;&gt;-->
<!--<section id="testimonials" class="section section-bgimage-yes">-->
<!--<div class="section-inner">-->
<!--<div class="section-overlay"></div>-->

<!--<div class="container section-content">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="section-title text-center">-->
<!--<h2 class="main-title">Testimonials</h2>-->

<!--<h3 class="sub-title">We Make Our Customers Happy</h3>-->

<!--<span class="section-line"></span>-->
<!--</div>-->
<!--&lt;!&ndash; //.section-title &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.col-md-12 &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.row &ndash;&gt;-->

<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<div class="testimonial-item not-right-column not-bottom-column">-->
<!--<div class="testimonial-content">-->
<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

<!--<blockquote>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
<!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--exercitation.</p>-->
<!--</blockquote>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

<!--<div class="testimonial-info clearfix">-->
<!--<img width="100"-->
<!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
<!--alt="" class="img-circle img-thumbnail"/>-->

<!--<p class="testimonial-author">-->
<!--@Jane Doe, Jakarta-->
<!--<br>-->
<!--<em>Co-Founder at Cisco</em>-->
<!--</p>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

<!--<div class="col-md-4">-->
<!--<div class="testimonial-item not-right-column not-bottom-column">-->
<!--<div class="testimonial-content">-->
<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

<!--<blockquote>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
<!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--exercitation.</p>-->
<!--</blockquote>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

<!--<div class="testimonial-info clearfix">-->
<!--<img width="100"-->
<!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
<!--alt="" class="img-circle img-thumbnail"/>-->

<!--<p class="testimonial-author">-->
<!--@John Doe, Jakarta-->
<!--<br>-->
<!--<em>Creative Director at Apple</em>-->
<!--</p>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

<!--<div class="col-md-4">-->
<!--<div class="testimonial-item not-bottom-column">-->
<!--<div class="testimonial-content">-->
<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

<!--<blockquote>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
<!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--exercitation.</p>-->
<!--</blockquote>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

<!--<div class="testimonial-info clearfix">-->
<!--<img width="100"-->
<!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
<!--alt="" class="img-circle img-thumbnail"/>-->

<!--<p class="testimonial-author">-->
<!--@John Doe, Jakarta-->
<!--<br>-->
<!--<em>Managet at Microsoft</em>-->
<!--</p>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.row &ndash;&gt;-->

<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<div class="testimonial-item not-right-column">-->
<!--<div class="testimonial-content">-->
<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

<!--<blockquote>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
<!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--exercitation.</p>-->
<!--</blockquote>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

<!--<div class="testimonial-info clearfix">-->
<!--<img width="100"-->
<!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
<!--alt="" class="img-circle img-thumbnail"/>-->

<!--<p class="testimonial-author">-->
<!--@John Doe, Jakarta-->
<!--<br>-->
<!--<em>Co-Founder at Cisco</em>-->
<!--</p>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

<!--<div class="col-md-4">-->
<!--<div class="testimonial-item not-right-column">-->
<!--<div class="testimonial-content">-->
<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

<!--<blockquote>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
<!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--exercitation.</p>-->
<!--</blockquote>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

<!--<div class="testimonial-info clearfix">-->
<!--<img width="100"-->
<!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
<!--alt="" class="img-circle img-thumbnail"/>-->

<!--<p class="testimonial-author">-->
<!--@Jane Doe, Jakarta-->
<!--<br>-->
<!--<em>Creative Director at Apple</em>-->
<!--</p>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

<!--<div class="col-md-4">-->
<!--<div class="testimonial-item">-->
<!--<div class="testimonial-content">-->
<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

<!--<blockquote>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
<!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--exercitation.</p>-->
<!--</blockquote>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

<!--<div class="testimonial-info clearfix">-->
<!--<img width="100"-->
<!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
<!--alt="" class="img-circle img-thumbnail"/>-->

<!--<p class="testimonial-author">-->
<!--@Jane Doe, Jakarta-->
<!--<br>-->
<!--<em>Managet at Microsoft</em>-->
<!--</p>-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.row &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.section-container &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //.section-inner &ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash; //End Testimonials Section &ndash;&gt;-->

