<a href="#"
  socialshare
  class="button medium-small button-facebook"
  socialshare-url="{{::url}}"
  socialshare-provider="facebook"
  socialshare-text="{{::title}}">
  <i class="fa fa-facebook"></i>
</a>

<a href="#"
  socialshare
  class="button medium-small button-twitter"
  socialshare-url="{{::url}}"
  socialshare-provider="twitter"
  socialshare-text="{{::title}}">
  <i class="fa fa-twitter"></i>
</a>

<a href="#"
  socialshare
  class="button medium-small button-linkedin"
  socialshare-url="{{::url}}"
  socialshare-provider="linkedin"
  socialshare-text="{{::title}}">
  <i class="fa fa-linkedin"></i>
</a>

<a href="{{::mailto}}"
  class="button medium-small button-email">
  <i class="fa fa-envelope-o"></i>
</a>
